<div class="container">
	  <div 
	    class="alert alert-info">
      <a (click)="back()" class="pull-left" > <i class="glyphicon glyphicon-chevron-left"></i> </a>
	    Connected as  <b>{{owner.username}}</b> | role :<b> Owner </b>.<br>
	  </div>
      <div *ngIf="errorFlag"
        class="alert alert-danger">
        {{errorMsg}}
      </div>
      <div *ngIf="messageFlag"
        class="alert alert-success">
        {{message}}
      </div>
      <div class="row">
      	<div class="col-xs-4">
      		<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title">Add/Update property</h3>
			  </div>
	  		<div class="panel-body" style="color:black">
			    <form class="form-horizontal" #f="ngForm">
				  <div class="form-group">
				    <label for="propertyId" class="control-label">Id</label>
				      <input type="text" class="form-control" id="propertyId" name="propertyId" placeholder="id" [(ngModel)]="propertyId" >
				  </div>
				  	<div class="form-group">

				    <label for="type" class="control-label">Type</label>
				      <select class="form-control" id="type" name="type" [(ngModel)]="type">
				      	<option value="appartment">appartment</option>
				      	<option value="garage">garage</option>
				      	<option value="house">house</option>
				      	<option value="offices">offices</option>
				      </select>
				  </div>
				  <div class="form-group">
				    <label for="description" class="control-label">Description</label>
				      <input type="text" class="form-control" id="description" name="description" placeholder="Description" [(ngModel)]="description">
				  </div>
				  <div class="form-group">
				    <label for="size" class="control-label">Size</label>
				      <input type="number" class="form-control" id="size" name="size" placeholder="Size in m²" [(ngModel)]="size">
				  </div>
				  <div class="form-group">
				    <label for="price" class="control-label">Price</label>
				      <input type="number" class="form-control" id="price" name="price" placeholder="Price in $ USD" [(ngModel)]="price">
				  </div>
				  <div class="form-group">
				    <label for="latitude" class="control-label">Latitude</label>
				      <input type="number" class="form-control" id="latitude" name="latitude" placeholder="latitude" [(ngModel)]="latitude">
				  </div>
				  <div class="form-group">
				    <label for="longitude" class="control-label">Longitude</label>
				      <input type="number" class="form-control" id="longitude" name="longitude" placeholder="longitude" [(ngModel)]="longitude">
				  </div>
				  <div class="form-group">
				    <div>
				      <button (click)="save()" class="btn btn-primary">Save</button> <button (click)="update()" class="btn btn-info">Update</button>
				    </div>
				  </div>
				</form>
			  </div>
			</div>
      	</div>
      	<div class="col-xs-8">
      		<table class="table table-bordered">
	          <tr>
	            <th>#</th>
	            <th>type</th>
	            <th>Available</th>
	            <th>Customer</th>
	            <th>Verified</th>
	            <th>actions</th>
	          </tr>
	          <tr *ngFor="let property of properties">
	            <td>{{property._id}}</td>
	            <td>{{property.type}}</td>
	            <td>{{property.available}}</td>
	            <td><a [routerLink]="['../client']" >{{property.customer.username}}</a></td>
	            <td>{{property.valid}}</td>
	            <td><button (click)="edit(property)" class="btn btn-primary" ><i class="glyphicon glyphicon-check
" ></i></button></td>
	          </tr>
	      </table>
      	</div>
      </div>

</div> <!-- /container -->