<div class="container">
	  <div 
	    class="alert alert-info">
      <a [routerLink]="['/profile',adminId,'menu']" class="pull-left" > <i class="glyphicon glyphicon-chevron-left"></i> </a>
	    Connected as  <b>{{admin.username}}</b> | role :<b> Admin </b>.<br>
	  </div>
      <div *ngIf="errorFlag"
        class="alert alert-danger">
        {{errorMsg}}
      </div>
      <div *ngIf="messageFlag"
        class="alert alert-success">
        {{message}}
      </div>
      <table class="table table-bordered">
          <tr>
            <th>#</th>
            <th>type</th>
            <th>Owner</th>
            <th>Available</th>
            <th>Customer</th>
            <th>actions</th>
          </tr>
          <tr *ngFor="let property of properties">
            <td>{{property._id}}</td>
            <td>{{property.type}}</td>
            <td><a [routerLink]="['../user',property.owner._id]" >{{property.owner.username}}</a></td>
            <td>{{property.available}}</td>
            <td><a [routerLink]="['../user',property.customer._id]" >{{property.customer.username}}</a></td>
            <td><button (click)="details(property._id)" class="btn btn-primary" ><i class="glyphicon glyphicon-info-sign" ></i></button> | <button (click)="activate(property)" class="btn btn-success" [disabled]="property.valid" ><i class="glyphicon glyphicon-ok" ></i></button>
            | <button (click)="deactivate(property)" class="btn btn-danger" [disabled]="!property.valid"  ><i class="glyphicon glyphicon-remove" ></i></button></td>
          </tr>
      </table>

</div> <!-- /container -->