<div class="container">
	  <div *ngIf="errorFlag"
	    class="alert alert-danger">
	    {{errorMsg}}
	  </div>
	  <div *ngIf="messageFlag"
	    class="alert alert-success">
	    {{message}}
	  </div>
      <form class="form-signin">
        <h2 class="form-signin-heading">Profile Information 
        	<span *ngIf="!valid" class="label label-danger">Unverified</span>
			<span *ngIf="valid" class="label label-success">Verified</span>
        	</h2>
        <label for="firstName" >First Name</label>
        <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" class="form-control" placeholder="First Name" required>
        <label for="lastName" >Last Name</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" class="form-control" placeholder="Last Name" required>
        <label for="email" >Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email" required>
        <label for="phone" >Phone</label>
        <input type="text" id="phone" name="phone" [(ngModel)]="phone" class="form-control" placeholder="Phone" required>
        <label for="dob" >Date Of Birth</label>
        <input type="string" id="dob" name="dob" [(ngModel)]="dob" class="form-control" placeholder="dd/mm/yyyy" required>
        <button class="btn btn-lg btn-primary btn-block" (click)="update()">Save</button>
        <button class="btn btn-lg btn-info btn-block" [disabled]="!valid" (click)="goToMenu()">Go to Menu</button>     
        <button class="btn btn-lg btn-danger btn-block" (click)="logout()">Logout</button>
      </form>

</div> <!-- /container -->