<div class="container">
	<div *ngIf="errorFlag"
    class="alert alert-danger">
    {{errorMsg}}
    </div>
      <form (ngSubmit) = "login()" #f="ngForm" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" >Username</label>
        <input type="text" id="username" name="username" ngModel #username="ngModel" class="form-control" placeholder="Username"  required autofocus>
        <span class="help-block" *ngIf="!username.valid && username.touched">
	      Please enter username!
	    </span>
        <label for="password" >Password</label>
        <input type="password" id="password" name="password" ngModel #password="ngModel" class="form-control" placeholder="Password"  required>
        <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
    </span>
        <button class="btn btn-lg btn-primary btn-block" [disabled]="!f.valid" type="submit">Sign in</button>
        <a class="btn btn-lg btn-danger btn-block" [routerLink]="['/register']">Register</a>
      </form>

</div> <!-- /container -->