<div class="container">

	  <div 
	    class="alert alert-info">
	    <a (click)="back()" class="pull-left" > <i class="glyphicon glyphicon-chevron-left"></i> </a>
	    Connected as  <b>{{admin.username}}</b> | role :<b> Admin </b>.<br>
	  </div>
      <div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Property's Info</h3>
	  </div>
	  <div class="panel-body" style="color:black">
	    Type : <b>{{property.type}}</b> <br>
	    Description : <b>{{property.description}}</b><br>
	    Size : <b>{{property.size}} m²</b><br>
	    Price : <b>{{property.price}}$/month</b><br>
	    Latitude : <b>{{property.latitude}}</b><br>
	    Longitude : <b>{{property.longitude}}</b><br>
	    Available : <b>{{property.available}}</b><br>
	    Owner : <b>{{property.owner.username}}</b><br>
	    Customer : <b>{{property.customer.username}}</b><br>
	    Valid : <b>{{property.valid}}</b><br>
	    Validated By : <b>{{property.validatedBy.username}}</b><br>
	    <button class="btn btn-danger" (click)="deleteProperty(property._id)" >Delete Property</button>
	  </div>
	</div>

</div> <!-- /container -->
