<div class="container">
	  <div *ngIf="errorFlag"
	    class="alert alert-danger">
	    {{errorMsg}}
	  </div>
      <form class="form-signin" (ngSubmit) = "register()" #f="ngForm">
        <h2 class="form-signin-heading">Register as new user</h2>
        <label for="username" >Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" ngModel #username="ngModel" required autofocus>
        <span class="help-block" *ngIf="!username.valid && username.touched">
	      Please enter username!
	  	</span>
        <label for="inputPassword" >Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" ngModel #password="ngModel" required>
        <span class="help-block" *ngIf="!password.valid && username.touched">
	      Please enter password!
	  	</span>
        <label for="inputPassword2" >Password confirmation</label>
        <input type="password" id="inputPassword2" name="pwdconfirmation" class="form-control" placeholder="Password confirmation" ngModel #pwdconfirmation="ngModel" required>
        <span class="help-block" *ngIf="!pwdconfirmation.valid && pwdconfirmation.touched">
	      Please enter password confirmation!
	  </span>
        <label for="registerAs" >Register As</label>
        <select id="registerAs" class="form-control" name="registerAs" ngModel #registerAs="ngModel" required >
        	<option value="owner" >Owner</option>
        	<option value="customer">Customer</option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>        
        <button class="btn btn-lg btn-primary btn-block" (click)="cancel()">Cancel</button>
      </form>

</div> <!-- /container -->